<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Google Map Fun</title>
        <meta name="description" content="Google Maps">
        <meta name="author" content="Mitchell Naleid">

        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <h1>Title Here, Get Your Title Here</h1>

        <%= %>
        <div id="map"></div>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <!-- <script src="./scripts/maps.js"></script> -->
        <script src="./scripts/map-container.js"></script>
        <script type="module" src="./server.js"></script>
        <!-- <script type="module" src="./test.js"></script> -->
        <script type="module" src="./packageMapLoader.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjlyolAw73pWp1kaQDA5iyjV3t6E415jw&callback=initMap&libraries=&v=weekly" async></script> -->
    </body>
</html>